  <h1>Welcome to CSE Motors!</h1>

  <div class="main">
    <img src="/images/vehicles/delorean-tn.jpg" 
         alt="Side view of the silver DMC Delorean sports car">
    <div class="submain">
      <span class="title">DMC Delorean</span>
      <ul>
        <li>3 Cup holders</li>
        <li>Superman doors</li>
        <li>Fuzzy dice!</li>
      </ul>
      <button>Own Today</button>
    </div>
  </div>

  <section id="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like travelling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day." (4.5/5)</li>
      <li>"80's living and loving it!" (5/5)</li>
    </ul>
  </section>

  <section id="upgrades-wrapper">
    <h2>Delorean Upgrades</h2>
    <div id="upgrades">
      <div class="upgrade">
        <img src="/images/upgrades/flux-cap.png" 
             alt="Illustration of the futuristic Flux Capacitor device">
        <p>Flux Capacitor</p>
      </div>

      <div class="upgrade">
        <img src="/images/upgrades/flame.jpg" 
             alt="Car with flame decals along the side">
        <p>Flame Decals</p>
      </div>

      <div class="upgrade">
        <img src="/images/upgrades/bumper_sticker.jpg" 
             alt="Assorted colorful bumper stickers">
        <p>Bumper Stickers</p>
      </div>

      <div class="upgrade">
        <img src="/images/upgrades/hub-cap.jpg" 
             alt="Shiny chrome hub caps for wheels">
        <p>Hub Caps</p>
      </div>
    </div>
  </section>

